<!-- <div class="innerMain">
        <div class="aboutSection">
        <div [ngClass]="{'slide-in-left': isContentVisible,'slide':true,'fontFamily':true}" >
            <h1>Hi I'm Shehroz</h1>
            <h2>I'm a <span class="spanColor">Full Stack</span> developer</h2>
            <p class="w-100 w-md-75 grey">Experienced Web developer with a focus on Web APIs and Frontend development. Proficient in building and optimizing APIs, as well as creating visually appealing and responsive web interfaces. Skilled in various frontend technologies and dedicated to staying updated with industry trends.</p>
            <div class="iconContainer">
                <a href="https://www.linkedin.com/in/shehroz-ali-abba3323a/" target="_blank" rel="noopener noreferrer">
                    <fa-icon   [size]="sizeIcon" [icon]="linkedinIcon" [style.color]="'#2C5EDE'"></fa-icon>
                </a>
                <a href="https://github.com/shehroz665" target="_blank" rel="noopener noreferrer">
                    <fa-icon  [size]="sizeIcon" [icon]="githubIcon" [style.color]="'black'"></fa-icon>
                </a>      
           
                
            </div>
        </div>
        <div  [ngClass]="{'slide-in-right': isContentVisible,'leftSlide':true,'imageDiv':true}">
            <img src="../../assets/me.jpg"/>
        </div>
    </div>
</div> -->

<!-- -----------------------------------------------------new-------------------------------------------------------------- -->
 <div class="innerMain">
    <div class="aboutSection">
        <div [ngClass]="{'slide-in-left': isContentVisible, 'slide': true, 'fontFamily': true}" class="custom-about-section">
            <div class="text">
                <h1 class="">Hi I'm Shehroz</h1>
                <h2>I'm a <span class="spanColor">Full Stack</span> developer</h2>
                <p class="custom-paragraph">
                    Experienced Web developer with a focus on Web APIs and Frontend development. Proficient in building and optimizing APIs, as well as creating visually appealing and responsive web interfaces. Skilled in various frontend technologies and dedicated to staying updated with industry trends.
                </p>
            </div>
            <div class="icon">
                <a href="https://www.linkedin.com/in/shehroz-ali-abba3323a/" target="_blank" rel="noopener noreferrer">
                    <fa-icon [size]="sizeIcon" [icon]="linkedinIcon" [style.color]="'#2C5EDE'"></fa-icon>
                </a>
          
                <a href="https://github.com/shehroz665" target="_blank" rel="noopener noreferrer">
                    <fa-icon [size]="sizeIcon" [icon]="githubIcon" [style.color]="'black'"></fa-icon>
                </a>               
           
            </div>
        </div>
        <div [ngClass]="{'slide-in-right': isContentVisible, 'leftSlide': true, 'imageDiv': true}" class="custom-image-section">
            <img src="../../assets/me.jpg" class="custom-image"/>
        </div>
    </div>
</div>
