.iconContainer {
    display: flex;
    width: 8%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 220px;

}

.leftSlide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.imageDiv {
    padding: 48px;
}

img {

    height: 500px;
}

@media (max-width: 767px) {
    .aboutSection {
        display: flex;
        flex-direction: column;
        padding: 5px 220px;
    }

}