
<div class="mainContainer">
    <div class="title">
        <h1> About Me</h1>
       </div>
    <div class="section">
        <div [ngClass]="{'slide-in-left': isContentVisible, 'slide': true, 'fontFamily': true}" class="custom-about-section">
            <div class="text">
                <h1 class="">{{name}}</h1>
                <h2>I'm a <span class="spanColor">Full Stack</span> developer</h2>
                <p class="custom-paragraph">{{paragraph}}</p>
            </div>
            <div class="icon">
                <a href="https://www.linkedin.com/in/shehroz-ali-abba3323a/" target="_blank" rel="noopener noreferrer">
                    <fa-icon [size]="sizeIcon" [icon]="linkedinIcon" [style.color]="'#2C5EDE'"></fa-icon>
                </a>
          
                <a href="https://github.com/shehroz665" target="_blank" rel="noopener noreferrer">
                    <fa-icon [size]="sizeIcon" [icon]="githubIcon" [style.color]="'black'"></fa-icon>
                </a>               
           
            </div>
        </div>
        <div [ngClass]="{'slide-in-right': isContentVisible, 'leftSlide': true, 'imageDiv': true}" class="custom-image-section">
            <img src="../../assets/me.jpg" class="custom-image"/>
        </div>
    </div>
</div>
