.iconContainer{
    display: flex;
    width: 12%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.aboutSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px 220px;

}
.slide{
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.slide-in-left {
    opacity: 1;
    transform: translateX(0);
  }
  
  .slide-in-right {
    opacity: 1;
    transform: translateX(0);
  }
  .slides{

  }
  .imageDiv{
    padding: 48px;
    
  }