
<div class="innerMain">
    <div class="title">
        <h1> Projects</h1>
       </div>
    <div class="section">
        <div class="d-flex flex-column">
            <div>
                <h3>Professional Projects</h3>
                  <ul>
                    <li *ngFor="let item of professionalData" class="project-item">
                      <div >
                        <p class="project-title">{{ item.title }}</p>
                      </div>
                      <div>
                        <p>{{ item.description }}</p>
                        <p><strong>Duration:</strong> {{ item.duration }}</p>
                        <p><strong>Company:</strong> {{ item.company }}</p>
                        <p *ngIf="item.link!=''">
                          <a  [href]="item.link" target="_blank">Project's Link</a>
                        </p>
                      </div>
                    </li>
                  </ul>
            </div>
            <div>
                <h3>University Projects</h3>
                <ul>
                    <li *ngFor="let item of universityData" class="project-item">
                      <div >
                        <p class="project-title">{{ item.title }}</p>
                      </div>
                      <div>
                        <p>{{ item.description }}</p>
                        <p><strong>Duration:</strong> {{ item.duration }}</p>
                        <p><strong>University:</strong> {{item.company}}</p>
                        <p *ngIf="item.link!=''">
                          <a  [href]="item.link" target="_blank">Project's Link</a>
                        </p>
                      </div>
                    </li>
                  </ul>
            </div>
            <div>
              <h3>Personal Projects</h3>
              <ul>
                  <li *ngFor="let item of personalData" class="project-item">
                    <div >
                      <p class="project-title">{{ item.title }}</p>
                    </div>
                    <div>
                      <p>{{ item.description }}</p>
                      <div *ngIf="item.links.length!=0" class="d-flex flex-row">
                        <div *ngFor="let x of item.links;let i = index" >
                            <p [ngClass]="{ 'px-2': i %2== 0 }">
                              <a  [href]="x.url" target="_blank">{{x.name}} {{i!=item.links.length-1 ? ' , ' : ''}}</a>
                            </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
          </div>
        </div>

    </div>
</div>