
<div class="innerMain">
    <div class="title">
        <h1> Projects</h1>
       </div>
    <div class="section">
        <div class="d-flex flex-column">
            <div>
                <h3>Professional Projects</h3>
                  <ul>
                    <li *ngFor="let item of professionalData" class="project-item">
                      <div class="project-header">
                        <p>{{ item.title }}</p>
                      </div>
                      <div class="project-details">
                        <p>{{ item.description }}</p>
                        <p><strong>Duration:</strong> {{ item.duration }}</p>
                        <p><strong>Company:</strong> {{ item.company }}</p>
                        <p *ngIf="item.link!=''">
                          <a  [href]="item.link" target="_blank">Visit the site</a>
                        </p>
                      </div>
                    </li>
                  </ul>
            </div>
            <div>
                <h3>Professional Projects</h3>
                <ul>
                    <li *ngFor="let item of universityData" class="project-item">
                      <div class="project-header">
                        <p>{{ item.title }}</p>
                      </div>
                      <div class="project-details">
                        <p>{{ item.description }}</p>
                        <p><strong>Duration:</strong> {{ item.duration }}</p>
                        <p><strong>Company:</strong> {{ item.company }}</p>
                        <p *ngIf="item.link!=''">
                          <a  [href]="item.link" target="_blank">Visit the site</a>
                        </p>
                      </div>
                    </li>
                  </ul>
            </div>
        </div>

    </div>
</div>