<!-- <div  class="mains">
    <app-about></app-about>
    <app-skill></app-skill>
    <app-portfolio></app-portfolio>
    <app-skill></app-skill>
</div> -->


<div class="mains">
    <div id="about" class="mains">
        <app-about></app-about>
    </div>
    <div id="skills" class="mains">
        <app-skill></app-skill>
    </div>
    <div id="projects" class="mains">
        <app-projects></app-projects>
    </div>
    <div id="certifications" class="mains">
        <app-certifications></app-certifications>
    </div>
    <!-- <div id="portfolio" class="mains">
        <app-portfolio></app-portfolio>
    </div> -->
    <div id="contact" class="mains">
        <app-contact></app-contact>
    </div>
    
</div>