@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html, body { height: 100%; }
body { margin: 0;padding: 0;font-family:"poppins", sans-serif }
.mains{
    display: flex;
    flex-direction: column;
}
.innerMain{
    padding: 10px;
    height: auto;
}
.fontFamily{
    font-family: "poppins", sans-serif
}
.spanColor{
    color: #2C5EDE;
}
.grey{
    color: gray;
}
.mainContainer {
    padding: 20px;

}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 220px;
   
}
.title {
    text-align: center;
    font-family: "poppins", sans-serif;
    
}

