html, body { height: 100%; }
body { margin: 0;padding: 0;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
.mains{
    display: flex;
    flex-direction: column;
}
.innerMain{
    padding: 10px;
    height: 700px;
}